<h1 mat-dialog-title>
    <div class="menu">
        {{title}}
        <div class="menu__right menu__right--midle">
            <button [disabled]="!updateStudentForm.valid" type="submit" (click)="update()" class="menu__add"> Guardar </button>
            <button (click)="onDismiss()" type="submit" class="menu__delete"> Cancelar </button>
        </div>
    </div>

    <div *ngIf="showNotify" class="alert alert__success">
        {{ notify }}
    </div>
    <div *ngIf="errors.length > 0" class="alert alert__danger">
        <p *ngFor="let error of errors">
            {{ error }}
        </p>
    </div>
</h1>

<div mat-dialog-content>
    <p>{{message}}</p>
    

    <form [formGroup]="updateStudentForm" (ngSubmit)="update()">
        <div class="form">
       
            <label for="name"> Nombre </label>
            <input type="name" class="form-control" maxlength="30" formControlName="name">
        </div>
        <div *ngIf="isValidInput('name')" class="alert alert__danger">
            <div *ngIf="updateStudentForm.controls['name'].errors?.required">
                Ingresa tu nombre (s)
            </div>
        </div>

        <div class="form">           
            <label for="patern_surname"> Apelido Paterno</label>
            <input type="patern_surname" class="form-control" maxlength="30" formControlName="patern_surname">
        </div>
        <div *ngIf="isValidInput('patern_surname')" class="alert alert__danger">
            <div *ngIf="updateStudentForm.controls['patern_surname'].errors?.required">
                El apellido paterno es un campo requerido.
            </div>
        </div>

        <div class="form">            
            <label for="matern_surname"> Apellido Materno</label>
            <input type="matern_surname" class="form-control" maxlength="30" formControlName="matern_surname">
        </div>
        <div *ngIf="isValidInput('matern_surname')" class="alert alert__danger">
            <div *ngIf="updateStudentForm.controls['matern_surname'].errors?.required">
                El apellido materno es un campo requerido.
            </div>
        </div>

        <div class="form">            
            <label for="birth_date"> Fecha de Nacimiento</label>
            <input type="date" class="form-control" formControlName="birth_date">
        </div>
        <div *ngIf="isValidInput('birth_date')" class="alert alert__danger">
            <div *ngIf="updateStudentForm.controls['birth_date'].errors?.required">
                Ingresa tu fecha de nacimiento.
            </div>
        </div>

        <div class="form">           
            <label for="gender"> Sexo </label>
            <div style="width: 100%;">
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedGender" formControlName="gender">
                        <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{gender.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form">           
            <label for="academic_level_id">Grado de Estudios Actual </label>
            <div style="width: 100%;">
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedAcademicLevel" formControlName="academic_level_id">
                        <mat-option *ngFor="let academic_level_id of academic_levels" [value]="academic_level_id.value">
                            {{academic_level_id.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form">            
            <label for="email"> Email </label>
            <input type="email" class="form-control" maxlength="30" formControlName="email">
        </div>
        <div *ngIf="isValidInput('email')" class="alert alert__danger">
            <div *ngIf="updateStudentForm.controls['email'].errors?.required">
                Ingresa un email válido.
            </div>
        </div>

        <div class="form">            
            <label for="phone"> Teléfono </label>
            <input type="text" class="form-control" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" formControlName="phone">
        </div>
        <div *ngIf="isValidInput('phone')" class="alert alert__danger">
            <div *ngIf="updateStudentForm.controls['phone'].errors?.required">
                Ingresa tu número telefonico.
            </div>
        </div>
        <button [disabled]="!updateStudentForm.valid" type="submit" class="menu__add"> Guardar </button>
    </form>
</div>