<section class="feature">

    <div class="feature__content container container--pall">

        <div class="feature__start">
            <h2>Información del proyecto</h2>
            <p>
              Código fuente disponible en mi repositorio de <b> <a href="https://github.com/TheDrifterCoder/fullstack/tree/master" target="_blank"> GitHub </a> </b>
            </p>
        </div>
    
        <div class="feature__grid">
          
          <div class="feature__item">
            <div class="feature__icon"><img src="../assets/images/angular.png" /></div>
            <div class="feature__title">
              Frontend
            </div>
            <div class="feature__description">
                Angular, es el framework de JS utilizado para el Frontend.
            </div>
          </div>
    
          <div class="feature__item">
            <div class="feature__icon"><img src="../assets/images/laravel.png" /></div>
            <div class="feature__title">
              Backend
            </div>
            <div class="feature__description">
              Laravel, es el framework de PHP utilizado para el backend.
            </div>
          </div>
    
          <div class="feature__item">
            <div class="feature__icon"><img src="../assets/images/mysql.png" /></div>
            <div class="feature__title">
              Base de datos
            </div>
            <div class="feature__description">
              Para la base de datos se ha usado MySQL.
            </div>
          </div>
    
          <div class="feature__item">
            <div class="feature__icon"><img src="../assets/images/github.png" /></div>
            <div class="feature__title">
              Github
            </div>
            <div class="feature__description">
              Versionador de código disponible en github, en un unico repositorio.
            </div>
          </div>
    
        </div>
    </div>

</section>