<section class="hero">
  <div class="container">
    <div class="hero__image"></div>

    <div class="hero__text container--pall">
      <div class="content">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form">
            <div class="form__header">
              <p>
                <b>Datos de acceso</b> <br>
                <b>Usuario:</b> developer <br>
                <b>Contraseña:</b> 12345678 <br>
              </p>
            </div>
            <div *ngIf="notify" class="alert alert__success">
              {{ notify }}
            </div>
            <div *ngIf="errors.length > 0" class="alert alert__danger">
              <p *ngFor="let error of errors">
                {{ error }}
              </p>
            </div>
            <label for="login_user">Usuario</label>
            <input type="login_user" class="form-control" formControlName="login_user">
          </div>
          <div *ngIf="isValidInput('login_user')" class="alert alert__danger">
            <div *ngIf="loginForm.controls['login_user'].errors?.required">
              Introduce tu usuario.
            </div>
          </div>

          <div class="form">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <div *ngIf="isValidInput('password')" class="alert alert__danger">
            <div *ngIf="loginForm.controls['password'].errors?.required">
              Se requiere contraseña.
            </div>
            <div *ngIf="loginForm.controls['password'].errors?.minlength">
              La contraseña debe contener 8 caracteres.
            </div>
          </div>
          <button [disabled]="!loginForm.valid" type="submit" class="button header__btns">Iniciar sesión</button>
        </form>
      </div>

    </div>
  </div>
</section>