.header {
    nav {
        padding: 1.0625rem 1.5rem;
    }
        &__logo {
            img {
                width: 10.375rem;
                height: 4.125rem;
            }
        }

        &__menu { //for mobile menu
            > span {
                display: block;
                width: 26px;
                height: 2px;
                background-color: $darkBlue;

                &:not(:last-child){
                    margin-bottom: 3px;
                }
            }
        }

        &__links {
            a {
                position: relative;
                font-size: 0.875rem;
                color: $darkBlue;
                transition: color 150ms ease-in-out;

                &:not(:last-child){
                    margin-right: 35px;
                }

                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 5px;
                    background: $lightBlue;
                    left: 0;
                    right: 0;
                    bottom: -30px;
                }

                &:hover {
                    color: $mediumGray;
                }
            }
        }

        &__btns {
            font-weight: 400;
        }
}

.hide_for_desktop {
    // for desktop less than 800px;
    @include breakpoint-up(large){
        display: none;
    }
}

.hide_for_mobiles {
    // for tables and mobiles
    @include breakpoint-down(medium){
        display: none;
    }
}