.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 1.5rem;
  text-align: center;
  
  .container {
    @include breakpoint-up(large){
      display: grid;
      justify-items: start;
    }
  }

  &__links {
    &.col1 {
      @include breakpoint-up(large){
        grid-area: links1;
      }
    }

    &.col2 {
      @include breakpoint-down(medium){
        margin-bottom: 1.875rem;
      }      

      @include breakpoint-up(large){
        grid-area: links2;
      }
    }

    a {
      line-height: 0.875rem;
      
      &:hover {
        color: $lightBlue;
      }
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $white;

    @include breakpoint-up(large){
      grid-area: copyright;
      align-self: end;
      justify-self: end;
    }
  }

}
