.header {
    // para la animacion de la cangre cangre
    &.open {
        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient($darkBlue, transparent);
    }
 
    nav {
        position: relative;
        background-color: $white;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }

    &__logo {
        img {
            width: 8.375rem;
            height: 3.125rem;
        }
    }

     // icono para el menu en dispositivos
     &__toggle {
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkGray;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    // para el menu en el mobiles, tablets
    &__menu {
        position: absolute;
        width: calc(100% - 5rem);
        left: 50%;
        transform: translateX(-50%);
        background: white;
        margin-top: 1.875rem;
        padding: 1.625rem;
        border-radius: 5px;

        a {
            display: block;
            padding: 0.625rem;
            color: $darkBlue;
            text-align: center;
        }
    }

    &__links {
        a {
            position: relative;
            font-size: $font-small;
            color: $darkBlue;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 35px;
            }

            &::before {
                display: block;
                position: absolute;
                content: "";
                height: 5px;
                background: $lightBlue;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(to right, $blue, $grayBlue);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $mediumGray;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__btns {
        font-weight: $font-small;
        color: $white;
        transition: opacity 250ms ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }
}
