
//colors
$darkBlue: rgb(18, 24, 59);
$lightBlue: rgb(22, 148, 221);
$titleColor: rgb(62, 63, 65);
$subtitleColor: rgb(77, 77, 77);
$lightGray: rgb(202, 202, 202);
$lightGreenGray:   rgb(238,242,242);
$mediumGray: rgb(168, 168, 168);
$darkGray: rgb(94, 94, 94);
$white: rgb(255, 255, 255);
$menuColor: rgb(11, 12, 24);
$blue: rgb(0, 144, 211);
$grayBlue: rgb(3, 24, 43);
$green: rgb(153, 213, 158);
$darkGreen: rgb(75, 213, 87);
$red: rgb(232, 112, 112);
$darkRed: rgb(230, 81, 81);

$font-title: 3.25rem; //50px
$font-text: 1.25rem; //20px
$font-medium: 1.125rem;  //18px
$font-small: 0.875rem; //14px


